<div flex layout="row" ng-controller="HomeController" style="height: 100%">
    <md-content flex id="content">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Menu">
                    <i class="material-icons">menu</i>
                </md-button>
                <h2><a href="#/">{{app.name}}</a></h2><p ng-show="pageTitle">&nbsp;&nbsp;&gt;&nbsp;&nbsp;<span><h3>{{pageTitle}}</h3></span></p>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content style="height: 100%" flex>
            <md-button class="md-fab md-primary md-hue-2" aria-label="Import XML" ng-click="filePicker()">
                <label for="picker">
                    <i class="material-icons">import_contacts</i>
                    <md-tooltip>Choose XML File to Import</md-tooltip>
               </label>
            </md-button>
            <md-button ng-click="xml2Html()" style="margin-right:20px;" ng-disabled="!xml"> Convert To HTML </md-button>
            <md-button ng-click="saveHTML()" style="margin-right:20px;" ng-disabled="!html"> Save As HTML </md-button>
            <md-button ng-click="launch()" style="margin-right:20px;" ng-disabled="!html"> Launch HTML in New Window </md-button>
            <md-button ng-click="html2Xml()" style="margin-right:20px;" ng-disabled="!html"> Convert to XML </md-button>
            <md-button class="md-fab md-primary md-hue-2" aria-label="Save XML Content" ng-disabled="!modXml" ng-click="exportXml($event)">
                <i class="material-icons">file_download</i>
                <md-tooltip>Save XML Content to File</md-tooltip>
            </md-button>
            <input id="picker" type="file" style="display:none;" accept="application/xml,text/xml" xml-reader="xml" />
            <md-tabs  md-dynamic-height md-border-bottom>
               <md-tab label="Original XML Content">
                <md-input-container class="md-block" flex-gt-xs>
                    <textarea rows="24" ng-model="xml"></textarea>
                </md-input-container>
               </md-tab>
               <md-tab label="Tree Preview" ng-disabled="!html">
                <div style="overflow-y: auto">
                    <script type="text/ng-template" id="nodes_renderer.html">
                        <div>
                            <span ng-if="node.title">
                                <label ng-if="node.title">{{node.title}}: </label>
                                <input type='text' value='{{node.value}}' ng-model='node.value' name='{{node.title}}' ng-if="node.value" ng-change="nodesToDOM()"/>
                                <md-button data-nodrag ng-click="newSubItem(this)"> + </md-button>
                                <md-button data-nodrag ng-click="removeSubItem(this)"> - </md-button>
                            </span>
                        </div>
                        <dl ui-tree-nodes="" ng-model="node.nodes">
                            <dt ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                            </dt>
                        </dl>
                    </script>
                    <div ui-tree>
                        <dl ui-tree-nodes="" ng-model="nodes">
                            <dt ng-repeat="node in nodes.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                            </dt>
                        </dl>
                    </div>
                  </div>
               </md-tab>
               <md-tab label="HTML Preview" ng-disabled="!html">
                <div style="overflow-y: auto" ng-bind-html="trustedHtml"></div>
               </md-tab>
               <md-tab label="Modified XML" ng-disabled="!modXml">
                <md-input-container class="md-block" flex-gt-xs>
                    <textarea rows="24" ng-model="modXml"></textarea>
                </md-input-container>
               </md-tab>
            </md-tabs>
        </md-content>
    </md-content>
</div>