<md-dialog aria-label="Add Form" ng-controller="AddEditFormController" ng-cloak style="width: 100%" ng-init="init()" class="fullscreen-dialog">
	<form ng-submit="save()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Form</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
		<div class="md-dialog-content" flex>
		    <div layout-gt-xs="row">
		        <md-input-container class="md-block" flex-gt-xs>
	                <label>Form Name</label>
	                <input ng-model="item.name" type="text" />
                </md-input-container>
                <md-button class="md-fab md-raised md-primary" ng-click="addGroup(item)">
                    <i class="material-icons">add</i>
                    <md-tooltip>Add New Group</md-tooltip>
                </md-button>
		    </div>
		    <md-tabs md-selected="group" ng-show="item.groups && item.groups.length>0" md-dynamic-height md-border-bottom>
		      <md-tab ng-repeat="group in item.groups" label="{{group.name || 'New Group'}}">
		          <div class="md-dialog-content" flex>
		            <div layout-gt-xs="row">
			            <md-input-container class="md-block" flex-gt-xs>
	                        <label>Group Name</label>
	                        <input ng-model="group.name" type="text" />
	                    </md-input-container>
	                    <md-button class="md-fab md-raised md-warn" ng-click="addField(group)">
	                        <i class="material-icons">add</i>
                            <md-tooltip>Add Field to Group</md-tooltip>
                        </md-button>
	                    <md-button class="md-fab md-raised md-warn" ng-click="item.groups.splice(item.groups.indexOf(group), 1)">
	                        <i class="material-icons">remove_circle</i>
	                        <md-tooltip>Remove This Group</md-tooltip>
	                    </md-button>
	                </div>
	                <md-tabs md-selected="field" ng-show="group.fields && group.fields.length>0" md-dynamic-height md-border-bottom>
                        <md-tab ng-repeat="field in group.fields" label="{{field.name || 'New Field'}}">
                            <div class="md-dialog-content" flex>
	                            <div layout-gt-xs="row">
		                            <md-input-container class="md-block" flex-gt-xs>
		                                <label>Field Name</label>
		                                <input ng-model="field.name" type="text" />
		                            </md-input-container>
		                            <md-button class="md-fab md-raised md-accent" ng-click="addAttribute(field)">
		                              <i class="material-icons">add</i>
                                      <md-tooltip>Add Attribute to Field</md-tooltip>
                                    </md-button>
                                    <md-button class="md-fab md-raised md-accent" ng-click="group.fields.splice(group.fields.indexOf(field), 1)">
	                                    <i class="material-icons">remove_circle</i>
	                                    <md-tooltip>Remove Field</md-tooltip>
	                                </md-button>
		                        </div>
	                            <md-list flex>
	                                <md-list-item ng-repeat="attribute in field.attributes">
	                                    <md-input-container>
	                                        <label>Attribute</label>
	                                        <md-select ng-model="attribute.name">
	                                          <md-option ng-repeat="attributeMeta in attributes" ng-value="attributeMeta.value" ng-init="attributeValues = attributes[$index].attributeValues">
	                                            {{attributeMeta.displayText}}
	                                          </md-option>
	                                        </md-select>
	                                    </md-input-container>
	                                    <input class="form-control" type="text" ng-model="attribute.value" list="attrList-{{attribute.name}}" />
	                                    <datalist id="attrList-{{attribute.name}}">
	                                        <option ng-repeat="attributeValue in attributeValues" value="{{attributeValue}}">
	                                    </datalist>
	                                    <md-button class="md-raised md-warn" ng-click="field.attributes.splice(field.attributes.indexOf(attribute), 1)">Remove Attribute</md-button>
	                                </md-list-item>
	                            </md-list>
                            </div>
                        </md-tab>
                    </md-tabs>
	            </div>
		      </md-tab>
		    </md-tabs>
		</div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()"> Cancel </md-button>
        <md-button type="submit" style="margin-right:20px;"> Save </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>