<!DOCTYPE html>
<html ng-app="dynaFormsApp">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Dynamic Forms</title>
<link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css" />
<link rel="stylesheet" href="angular/angular-ui-tree.min.css">
<link rel="stylesheet" href="home/custom.css">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<script type="text/javascript" src="jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="bootstrap/bootstrap.min.js"></script>
<script src="angular/angular.min.js"></script>
<script type="text/javascript" src="angular/angular-ui-tree.min.js"></script>

<script type="text/javascript" src="home/dynaFormsApp.js"></script>
<script type="text/javascript" src="home/controllers.js"></script>
</head>
    <body style="height: 100%">
        <div id="main-contents">
            <div ng-controller='HomeController'>
                <nav class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand">Dynamic Forms</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
                            <form class="navbar-form navbar-left" role="search" ng-submit="xml2Html()">
                                <div class="form-group">
                                    <input type="file" class="form-control" placeholder="Select a File to Import XML" onchange="fileselected(event)"/>
                                </div>
                                <button type="submit" class="btn btn-default">Convert to HTML</button>
                            </form>
                            <ul class="nav navbar-nav">
                                <li><a href="#" ng-click="saveHTML()">Save As HTML</a></li>
                                <li><a href="#" ng-click="launch()">Launch HTML in New Window</a></li>
                                <li><a href="#" ng-click="html2Xml()">Convert To XML</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#html" aria-controls="HTML" role="tab" data-toggle="tab">HTML</a></li>
                        <li role="presentation"><a href="#xml" aria-controls="profile" role="tab" data-toggle="tab" ng-disabled="!modXml">Modified XML</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="html">
                            <div style="overflow-y: auto">
                                <script type="text/ng-template" id="nodes_renderer.html">
                                    <span>
                                        <label ng-show="node.title">{{node.title}}: </label>
                                        <input type='text' ng-model='node.value' name='{{node.title}}' ng-if="node.container==false" />
                                        <span>
                                            <button data-nodrag ng-click="newSubItem(this)"> + </button>
                                            <button data-nodrag ng-click="removeSubItem(this)"> - </button>
                                        </span>
                                        <br />
                                    </span>
                                    <fieldset ui-tree-nodes="" ng-model="node.nodes" ng-if="node.container==true">
                                        <legend>
                                            {{node.title}}
                                        </legend>
                                        <span ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                                        </span>
                                    </fieldset>
                                    <span ng-if="node.container==false">
                                        <span ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                                        </span>
                                    </span>
                                </script>
                                <div ui-tree>
                                    <fieldset ui-tree-nodes="" ng-model="nodes">
                                        <legend>{{nodes.title}}</legend>
                                        <span ng-repeat="node in nodes.nodes" ui-tree-node ng-include="'nodes_renderer.html'"> </span>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="xml">
                            <textarea rows="24" ng-model="modXml" style="overflow-y: auto"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>